﻿<form role="form" id="activityForm" class="form-inline activity-form">
    <h4 class="page-header">
        {{'PAY' | translate }}
    </h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <label for="SUBTOTAL">{{ 'SUB-TOTAL' | translate }}</label>
                </span>
                <input type="text" 
                ng-change="updateTotal()"
                 ng-model="SUBTOTAL"
                id="SUBTOTAL" name="SUBTOTAL" class="form-control" 
                >
                <!--readonly="true" step="0.01" 
                value="{{SUBTOTAL | currency}}"
                       placeholder="{{ 'SUBTOTAL' | translate }}">-->
            </div>
        </div>
      </div>
	   <div class="row">
        <div class="col-sm-12">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <label for="TAXRATE">{{ '%TAX ' | translate }}</label>
                </span>
                <input type="text" ng-change="updateTotal()" 
                id="TAXRATE" step="0.01" name="TAXRATE" class="form-control" ng-model="TAXRATE" ng-init=".115">
			
            </div>
        </div>
      </div>
	   <div class="row">
        <div class="col-sm-12">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <label for="TAX">{{ 'TAXES' | translate }}</label>
                </span>

              	    <input type="text" readonly step="0.01" 
              	     id="TAX" name="TAX" class="form-control" ng-model="TAX"
                       placeholder="{{ 'TAX' | translate }}">
            </div>
        </div>
      </div>
	    <div class="row">
        <div class="col-sm-12">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <label for="TIP">{{ 'PROPINA' | translate }}</label>
                </span>
					<div class="form-group input-group">
					<button ng-click="calcTip(0)">0%</button>
					<button ng-click="calcTip(.1)">10%</button>
					<button ng-click="calcTip(.15)">15%</button>
					<button ng-click="calcTip(.2)">20%</button>
					</div>
              	    <input type="text" ng-change="updateTotal()" step="0.01" id="TIP" name="TIP" class="form-control" ng-model="TIP"
                       ng-init="0" ng- placeholder="{{ 'TIP' | translate }}">
            </div>
        </div>
      </div>
	   <div class="row">
        <div class="col-sm-12">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <label for="TOTAL">{{ 'TOTAL' | translate }}</label>
                </span>
<!-- {{TOTAL | currency}} -->
              	    <input type="text" value=" {{TOTAL | currency}}" readonly step="0.01" id="TOTAL" name="TOTAL" class="form-control" 
                       placeholder="{{ 'TOTAL' | translate }}">
            </div>
        </div>
      </div>
      <br>
      <!--
      <button class="btn btn-lg fa fa-close" style="width:100%" title="{{ 'CLOSE' | translate }}" ng-click="close()">  {{ 'CLOSE' | translate }}</button>
	    <div id="footer-actions row">

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary panel-red">
                            <div class="panel-heading"  ng-click="goBack()">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-backward fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right" >
                                        <div class="big">Back</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            -->
</form>
