﻿<!DOCTYPE html>
<html lang="en" ng-app="app" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" href="img/none.PNG">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>J-TipCalc</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/simple-sidebar.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="row">
				<!--<a href="#menu-toggle" class="btn btn-default fa fa-home" id="menu-toggle">Toggle Menu</a>-->
                        <div ng-view>
						
                            <img src="img/ajax-loader.gif" alt="{{ 'NOWLOADINGIMAGE' | translate }} " />
                        </div>
            </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>\
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Sync modal -->
    
    <my-modal></my-modal>
    <noscript>JavaScript Error: JavaScript is unnavailable or disabled and it is required for this web application to work.</noscript>
    <!-- Insert this line above script imports for Elecron -->
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

	
	
    <!--Cordova only for devices-->
<!--     <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="cordova_init.js"></script>
 -->    <!-- jQuery -->
 
    <!-- SHA256 -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/angular-aria.min.js"></script>
    <script type="text/javascript" src="js/angular.simplelogger.min.js"></script>
    <script type="text/javascript" src="js/angular-animate.min.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/angular-touch.min.js"></script>
    <!-- <script type="text/javascript" src="js/angular-modal-service.min.js"></script> -->
    
    <!--<script src="js/angular-animate.min.js"></script>-->
    <script type="text/javascript" src="js/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/angular-route.min.js"></script>
    <!--<script src="js/angular-sanitize.min.js"></script>-->
    <script type="text/javascript" src="js/angular-translate.min.js"></script>
    <script type="text/javascript" src="js/angular-translate-loader-static-files.min.js"></script>
    
	<!-- PouchDB -->

    <!-- App Script -->
   <script type="text/javascript" src="app.module.js"></script>
    <script type="text/javascript" src="app.config.js"></script>

    <!-- Custom Modules & Components -->

    <script type="text/javascript" src="core/core.service.js"></script>
    
    <script type="text/javascript" src="core/table/tabledb.service.js"></script>
    
    <script type="text/javascript" src="core/setting/settingapi.service.js"></script>
  
   
       <script src="settings/settings.component.js"></script>
        <script src="calc/calc.component.js"></script>
     
   
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <!-- Insert this line after script imports for Electron-->
    <script>if (window.module) module = window.module;</script>
</body>

</html>
