﻿    <fieldset>
        <legend>{{ 'SETTINGS' | translate }}</legend>
        
    </fieldset>

    <div class="row">
    	 <div class="col-lg-3 col-md-6">
    	 	<label for="tax1">Tax 1</label>
    	 	<input id="tax1" type="number" ng-model="tax1"/>
    	 </div>
    	</div>
    <div class="row">
    	 <div class="col-lg-3 col-md-6">
    	 	<label for="tax2">Tax 2</label>
    	 	<input id="tax2" type="number" ng-model="tax2"/>
    	 </div>
   </div>
   <button ng-click="save()" class="btn-lg fa fa-save">  Save </button>
        <button ng-click="clearData(true)" class="btn-lg fa fa-close">  Clear Data</button>
       <button ng-click="createViews()" class="btn-lg fa fa-close">  Create Views</button>
        
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-backward fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right" ng-click="$ctrl.goBack()">
                            <div class="big">Back</div>
                            <div></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
